{% extends 'base.html' %} {% block content %}
<h1>Register</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.last_name.label }} <br> {{ form.last_name(size=32) }} <br> {% for error in form.last_name.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.first_name.label }} <br> {{ form.first_name(size=32) }} <br> {% for error in form.first_name.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.username.label }} <br> {{ form.username(size=32) }} <br> {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.email.label }} <br> {{ form.email(size=32) }} <br> {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.password.label }} <br> {{ form.password(size=32) }} <br> {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br> {{ form.password2(size=64) }}<br> {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.street_address.label }}<br> {{ form.street_address(size=32) }}<br> {% for error in form.street_address.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.city.label }}<br> {{ form.city(size=32) }}<br> {% for error in form.city.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.state.label }}<br> {{ form.state(size=32) }}<br> {% for error in form.state.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ form.zip_code.label }}<br> {{ form.zip_code(size=32) }}<br> {% for error in form.zip_code.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}